@font-face {
    font-family: 'Spirit Board';
    src: url('../fonts/spiritboard.woff2') format('woff2'),
         url('../fonts/spiritboard.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Spirit Board Base';
    src: url('../fonts/spiritboardbase.woff2') format('woff2'),
         url('../fonts/spiritboardbase.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Spirit Board Contour';
    src: url('../fonts/spiritboardcontour.woff2') format('woff2'),
         url('../fonts/spiritboardcontour.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Spirit Board Fill';
    src: url('../fonts/spiritboardfill.woff2') format('woff2'),
         url('../fonts/spiritboardfill.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Spirit Board Shadow';
    src: url('../fonts/spiritboardshadow.woff2') format('woff2'),
         url('../fonts/spiritboardshadow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
	font-family: 'Spirit Board', serif;
	src: url('../fonts/SpiritBoard.otf');
	font-weight: 500;
}
@font-face {
	font-family: 'Spirit Board Base', serif;
	src: url('../fonts/SpiritBoardBase.otf');
	font-weight: 500;
}
@font-face {
	font-family: 'Spirit Board Contour', serif;
	src: url('../fonts/SpiritBoardContour.otf');
	font-weight: 500;
}
@font-face {
	font-family: 'Spirit Board Fill', serif;
	src: url('../fonts/SpiritBoardFill.otf');
	font-weight: 500;
}
@font-face {
	font-family: 'Spirit Board Shadow', serif;
	src: url('../fonts/SpiritBoardShadow.otf');
	font-weight: 500;
} */
