@import "fonts";
@import "normalize";

html,body {
    height: 100%;
}
html {
    font-size: 18px;
	scroll-behavior: smooth;
}
body {
    font-family: 'Spirit Board Base', serif;
    font-size:1rem;
}
.relative {
    position: relative;
}
.logoWrapper {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}
#logo {
	display: inline-block;
	max-width: 75%;
}
#wtfLink {
	margin-top: 10px;
    color: rgba(255,255,255,0.5);
    font-family: monospace;
    background: rgba(0,0,0,0.75);
    width: 1.25em;
    height: 1.25em;
    display: block;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    border: 2px dotted rgba(255,255,255,0.5);
    outline: none;
    pointer-events: all;
    font-size: 0.9rem;
}
#wtfLink:hover,
#wtfLink:focus,
#wtfLink:active {
	background-color:#000;
	border-color:rgba(255,255,255,0.75);
	color: rgba(255,255,255,0.75);
}
#bg {
    background:url(../images/board2.jpg) repeat center top #F2DD9E;
    padding:1rem;
    min-height: 100%;
    box-sizing: border-box;
    @media (min-width:768px) {
        padding: 2rem;
    	background-size:cover;
    }
}
#board {
    background-image: url(../images/bg6.jpg);
    background-color: #F2DD9E;
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    border-radius:3px;
    box-shadow: 10px 14px 12px rgba(0,0,0,0.9);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin: 0 auto;
    max-width: 1000px;
}
#boardEdges {
    pointer-events: none;
    position: absolute;
    top:4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    border: 4px solid #191412;
    mix-blend-mode: multiply;
    opacity: 0.95;
    background-image: url(../images/board-topleft.png),
                      url(../images/board-topright.png),
                      url(../images/board-bottomleft.png),
                      url(../images/board-bottomright.png);
    background-position: top left,
                         top right,
                         bottom left,
                         bottom right;
    background-repeat:no-repeat;
    background-size: 125px,
                     125px,
                     125px,
                     125px;

    @media (min-width:500px) {
        background-size: 150px,
                         150px,
                         150px,
                         150px;
    }
    @media (min-width:768px) {
        background-size: 200px,
                         200px,
                         200px,
                         200px;
    }
}
// some board edge styling
#board:after {
    position:absolute;
    border-radius:3px;
    top:0;
    left:0;
    bottom:0;
    right:0;
    content:"";
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.25) inset;
    mix-blend-mode:multiply;
    z-index: -1;
}
#board img {
    max-width: 65%;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.answerWrapper {
    position: relative;
    overflow: hidden;
    border-bottom:3px solid #231a12;
    transition: all 750ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: inline-flex;

    &.show {
        background-color: transparent;
    }
}
.answer {
    transition: bottom 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
                opacity 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
                color 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
                text-shadow 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

    position: relative;
    word-break: break-all;
    bottom:-1em;
    opacity: 0;
    color: transparent;
    text-shadow: 0 0 8px #fff, 0 0 8px #fff;

    &.show {
        color:#fff;
        text-shadow: 0 2px 3px rgba(0,0,0,0.6);
        bottom:0;
        opacity: 1;
        color: #fff;
    }
}
#main {
    margin:0 auto;
}
#topRow,
#bottomRow {
    display: block;
    width: 100%;
}
#bottomRow {
    position: relative;
    top: -1em;
}
.text-center {
    text-align: center;
}
.question {
    font-size: clamp(1.5rem, 1.5rem, 2rem);
    line-height: 1.3;
}
.buttonWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
.button {
    font-size:clamp(18px, 22px, 26px);
    padding: 0.75em;
    transition: all ease 500ms;
    position: absolute;
    color:#ecd299;
    box-shadow: 0 0 6px #000;
    cursor: pointer;
    background-color:#232426;
    border:2px solid #ecca80;
    top:1rem;
    @media (min-width:768px) {
        padding: 1em 1.25em;
    }
}
.button:before {
    background:url(../images/bg-button.png) no-repeat center center #232426;
    background-size:cover;
    content:"";
    position: absolute;
    top:2px;
    left:2px;
    bottom:2px;
    right:2px;
    transition: all ease 500ms;
}
.button:hover,
.button:focus {
    color:#fff;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
}
.button:hover:before,
.button:focus:before {
    opacity:0.3;
}
.button span {
    position: relative;
    z-index: 1;
}
#planchette {
    max-width: 250px !important;
    margin:0 auto;
}
.alpha-line {
    display: block;
}
.line-1-container,
.line-2-container {
    position: relative;
    font-size: clamp(1.25rem, 5.5vw, 4rem);
}
.line-2-container {
    margin-top:-0.5rem;
    @media (min-width:600px) and (max-width:767px) {
        margin-top:-1em;
    }
    @media (min-width:768px) and (max-width:999px) {
            margin-top:-1em;
    }
    @media (min-width:1000px) {
        margin-top:-1.3em;
    }
}
#line1,
#line2,
.yes-1,
.no-1,
.numbers-1,
.goodbye-1 {
    font-family: 'Spirit Board Base', serif;

    // make em fancy for desktop
    @media (min-width:768px) {
        font-family: 'Spirit Board Contour', serif;
    }
}
#line1b,
#line2b,
.yes-2,
.no-2,
.numbers-2,
.goodbye-2 {
    font-family: 'Spirit Board Shadow', serif;
    position: absolute;
    bottom: 0;
    top:0;
    left:0;
    right:0;
    color: #80623b;

    // fancy for desktop
    @media (min-width:768px) {
        font-family: 'Spirit Board Fill', serif;
    }
}
.yesno {
    font-size: clamp(1.25rem, 4vw, 2rem);
    margin: 1rem 0 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 70px;
    position: relative;
    box-sizing: border-box;

    @media (min-width:500px) {
        margin: 1rem 0 0;
        padding: 0 140px;
    }
    span {
        display: inline-block;
    }
}
.numbers {
    font-size: clamp(1.5rem, 4vw, 3rem);
    letter-spacing: 0.1em;
    margin-top: -1vw;
    margin-bottom: 0.25em;

    @media (min-width:768px) {
        margin-top: -1rem;
    }
    @media (min-width:1000px) {
        margin-top: -2rem;
    }
}
.goodbye {
    font-size: clamp(1.5rem, 3.5vw, 2.5rem);
}
#footer {
    color: #fff;
    margin: 4rem auto 1rem;
    padding: 1rem 2rem;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.6);
    box-shadow: 0 2px 5px #000;

    @media (min-width:1000px) {
        max-width: 1000px;
    }

    h4 {
        font-size: 1rem;
        margin: 1em 0;
        font-family: 'Arvo',serif;
    }
    p {
        font-family: 'Arvo',serif;
        color:#9e9e9e;
        line-height: 1.4;
        text-shadow: 0 1px 5px #000,
                     0 1px 10px #000,
                     0 1px 20px #000;
    }
    a {
        color: #fff;
        text-decoration: underline;
        &:hover,
        &:visited,
        &:focus {
            text-decoration: none;
            font-weight: bold;
        }
    }
}

// #footer h1,
// #footer h2,
// #footer h3,
// #footer h4,
// #footer h5,
// #footer h6 {
// }
